.App {
  text-align: center;
}

.App-header {
  background-color: #f3e5f5;
  padding: 50px;
  border-radius: 10px;
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #8e24aa;
  font-size: 3rem;
}

p {
  color: #6a1b9a;
  font-size: 1.5rem;
  margin-top: 20px;
}

.gif {
  margin-top: 20px;
  height: 50px;
}

.gif img {
  height: 200px;
}
